name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        
    - name: Git Semantic Version
      uses: PaulHatch/semantic-version@v4.0.3    
      with:
        fetch-depth: 0
        major_pattern: "major:"
        minor_pattern: "feat:"
        format: "${major}.${minor}.${patch}-prerelease${increment}"
      id: version
        
    - name: Docker login
      env: 
        DOCKER_USER: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        echo "new version: $NEW_VERSION"
        
    - name: Build Docker Image
      env:
        NEW_VERSION: ${{steps.version.outputs.version}}
      run: |
        docker build -t wdavid1913/docker-pipelind:$NEW_VERSION .
        docker build -t wdavid1913/docker-pipelind:latest .
        
    - name: Push Docker Image
      env:
          NEW_VERSION: ${{steps.version.outputs.version}}
      run: |
        docker push wdavid1913/docker-pipelind:$NEW_VERSION
        docker push wdavid1913/docker-pipelind:latest
        
